body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(to right, rgb(0, 147, 175) , #002c5c);
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color:linear-gradient(to right, rgb(0, 147, 175) , #002c5c));
}
.login-button {
    padding: 10px 20px;
    margin-bottom: 50px;
    background-color: #002c5c;
    border: none;
    cursor: pointer;
}
.login-button:hover {
    background-color: #002c5c;
}
header img {
    max-width: 100px;
    height: auto;
}

.container {
    display: flex;
}

.buttons-container {
    margin-top: 10px;
}

.button{
    box-sizing: border-box;
    padding: 15px;
    background-color: white;
    color: rgb(14, 107, 107);
    width: 250px;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;
    font-weight: 800;
}
.button2{
    box-sizing: border-box;
    background-color: white;
    padding: 15px;
    width: 250px;
    height: 60px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    display: block;
    font-weight: 800;
    color: yellow;
    border: 3px solid yellow;
}

.button:hover {
    color: yellow;
    border: 3px solid yellow;
}
.card-container {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: space-around;
    align-items: flex-start; /* Align cards to the top */
    overflow-y: auto; /* Enable vertical scrolling */
    height: 350px;
}

.card-container-heading {
   background-color: white;
   color: rgb(14, 107, 107);
    padding: 15px;
    margin-top: -50px;
    margin-left: 60px;
    border-radius: 30px;
    padding-bottom: 10px;
    margin-right: 30px;
}
.card-heading h2,
.card-heading h1 {
  display: inline-block;
}

.card-heading h2 {
  margin-right: 10px;
}
.child{
    width: 50px;
    border-radius: 90%;
    z-index: 0px;
    margin-left: 280px;
    position: absolute;
    margin-top: 25px;
    height: 50px;
}
.card {
    background-color: white;
    color: black;
    box-shadow: 0px 0px 2px 2px rgb(189, 188, 188);
    border: 2px solid rgb(252, 252, 252);
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    height: 180px;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
h3{
    color: rgb(14, 107, 107);
    margin-top: 110px;
    padding-right: 200px;
    inline-size: max-content;
    margin-left: 50px;
}

.user-image {
    width: 80px;
    width: fit-content;
    position: absolute;
    left: 20px;
    border-left: 1px solid gold;
}

.star-rating {
    position: absolute;
    font-size: 12px;
    top: 0;
    right: 0;
    padding-right: 25px;
    padding-top: 10px;
    color: rgb(14, 107, 107); /* Change the color of the stars as desired */
  }
  
  .star-rating::after {
    content: "\2605"; /* Unicode for a star character */
    position: absolute;
    color: gold;
    margin-left: 5px; /* Adjust the spacing between the ratings and the star */
    font-size: 1.5em; /* Increase the font size to make the star bigger */
    line-height: 0.7; /* Set the line height to align the star vertically */
    vertical-align:
  }

/*.user-credentials {
    font-size: 14px;
    margin-top: 70px;
    padding-left: 5px;
    padding-right: 90px;
    justify-self: left;
    color: gold;
} */ 
.user-credentials h4.card-description {
    font-size: 14px;
    justify-self: left;
    color: gold;
    margin-bottom: 0;
    margin-left: 55px;
  }
  
.user-credentials p.card-description {
    font-size: 10px;
    padding-right: 90px;
    justify-self: left;
    color: gold;
    margin-top: 0;
    margin-left: 55px;
  }
.timings {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 12px;
    color: rgb(14, 107, 107);
    padding-right: 10px;
    font-weight: 600;
}
.days {
    top: 0;
    right: 0;
    padding-left: 35px;
    margin-bottom: 0;
  }
  
  .time {
    padding-bottom: 10px;
    margin-top: 0;
  }